.BanList {
    height: 100vh;
    max-width: 20%;
    min-width: 10%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    position: sticky;
}

.ban {
    background-color: antiquewhite;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
}

h3.ban {
    margin-top: 1rem;
    margin-bottom: 0;
}

.BanList h1 {
    color: black;
}
