.History {
    height: 100vh;
    max-width: 20%;
    min-width: 10%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    position: sticky;
}

.hist-item {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hist-item h3 {
    margin: 0;
    color: black;
}

.hist-item img {
    width: 65%;
}

.History h1 {
    color: black;
}

@media (max-width: 600px) {
    .History h1 {
        font-size: 0.8rem;
    }

    .hist-item h3 {
        font-size: 0.6rem;
    }
}

@media (max-width: 350px) {
    .History {
        height: 15%;
        min-width: 100vw;
    }
}
